In [57]:
import pandas as pd
df = pd.read_csv('telecom_dataset.csv')
print(df)

     customer_id     region plan_type  tenure_months  monthly_charges  \
0            111    Chennai  Postpaid             28              459
1            102  Hyderabad     Basic             11              189
2            101    Chennai     Basic             46              229
3            122  Hyderabad  Postpaid              6              389
4            103  Bangalore  Postpaid             52              429
..           ...        ...       ...            ...              ...
122          102  Hyderabad     Basic             56             1049
123          102  Hyderabad     Basic              5              219
124          111    Chennai   Prepaid             33              219
125          112  Bangalore  Postpaid             28              199
126          111    Chennai  Postpaid              5              459

     total_charges  calls_dropped  support_calls is_prepaid  \
0            17672              3              1         No
1             5756              1              0         No
2            17654              2              0         No
3              898              4              4         No
4            21496              1              1         No
..             ...            ...            ...        ...
122          10395              1              0         No
123           2145              1              1         No
124          19316              3              1        Yes
125          11840              0              1         No
126           1665              0              5         No

     complaints_last_30_days  call_drop_ratio is_ported_out_last_year  \
0                          5            0.083                      No
1                          1            0.018                      No
2                          3            0.034                      No
3                          5            0.091                      No
4                          2            0.020                      No
..                       ...              ...                     ...
122                        2            0.016                      No
123                        2            0.018                      No
124                        4            0.067                      No
125                        1            0.000                      No
126                        0            0.000                      No

     days_since_first_recharge  days_since_last_recharge last_call_time  \
0                         1728                        47          14:32
1                         1748                         6          09:15
2                         1475                        12          11:48
3                          113                        53          22:41
4                          606                         8          08:52
..                         ...                       ...            ...
122                       1750                         6          09:22
123                       1720                         9          11:48
124                       1704                        32          19:28
125                        113                         2          07:05
126                       1437                         0          00:54

    first_recharge_date network_issue_flag data_usage_intensity  \
0              4/8/2020                Yes               Medium
1             3/18/2020                 No                  Low
2            12/11/2020                Yes                  Low
3            11/15/2021                 No               Medium
4              5/4/2022                 No               Medium
..                  ...                ...                  ...
122           3/18/2020                Yes               Medium
123           3/18/2020                 No                  Low
124            4/8/2020                 No               Medium
125            4/2/2020                Yes                 High
126            4/8/2020                 No                  Low

     days_to_churn_prediction churn
0                          12    No
1                          67    No
2                          54    No
3                           5   Yes
4                          88    No
..                        ...   ...
122                        14    No
123                       111   Yes
124                        82    No
125                        32    No
126                        95   Yes

[127 rows x 20 columns]

In [58]:
features = df.drop(columns=['churn'])
label = df['churn']
print('features column')
for x in features:
    print(x)
print("label column")

features column
customer_id
region
plan_type
tenure_months
monthly_charges
total_charges
calls_dropped
support_calls
is_prepaid
complaints_last_30_days
call_drop_ratio
is_ported_out_last_year
days_since_first_recharge
days_since_last_recharge
last_call_time
first_recharge_date
network_issue_flag
data_usage_intensity
days_to_churn_prediction
label column

In [59]:
cat = df.select_dtypes(include='object').columns
num = df.select_dtypes(exclude='object').columns
print("This is categorical data")
print(cat)
print("This is numerical data")
print(num)

This is categorical data
Index(['region', 'plan_type', 'is_prepaid', 'is_ported_out_last_year',
       'last_call_time', 'first_recharge_date', 'network_issue_flag',
       'data_usage_intensity', 'churn'],
      dtype='object')
This is numerical data
Index(['customer_id', 'tenure_months', 'monthly_charges', 'total_charges',
       'calls_dropped', 'support_calls', 'complaints_last_30_days',
       'call_drop_ratio', 'days_since_first_recharge',
       'days_since_last_recharge', 'days_to_churn_prediction'],
      dtype='object')

In [60]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler, MinMaxScaler
le = LabelEncoder()
df['region_encoded'] = le.fit_transform(df['region'])
df[['region','region_encoded']]

        region  region_encoded
0      Chennai               1
1    Hyderabad               3
2      Chennai               1
3    Hyderabad               3
4    Bangalore               0
..         ...             ...
122  Hyderabad               3
123  Hyderabad               3
124    Chennai               1
125  Bangalore               0
126    Chennai               1

[127 rows x 2 columns]

In [61]:
one_hot = pd.get_dummies(df,columns = ['region'],prefix = 'region')
print(one_hot)

     customer_id plan_type  tenure_months  monthly_charges  total_charges  \
0            111  Postpaid             28              459          17672
1            102     Basic             11              189           5756
2            101     Basic             46              229          17654
3            122  Postpaid              6              389            898
4            103  Postpaid             52              429          21496
..           ...       ...            ...              ...            ...
122          102     Basic             56             1049          10395
123          102     Basic              5              219           2145
124          111   Prepaid             33              219          19316
125          112  Postpaid             28              199          11840
126          111  Postpaid              5              459           1665

     calls_dropped  support_calls is_prepaid  complaints_last_30_days  \
0                3              1         No                        5
1                1              0         No                        1
2                2              0         No                        3
3                4              4         No                        5
4                1              1         No                        2
..             ...            ...        ...                      ...
122              1              0         No                        2
123              1              1         No                        2
124              3              1        Yes                        4
125              0              1         No                        1
126              0              5         No                        0

     call_drop_ratio  ... network_issue_flag  data_usage_intensity  \
0              0.083  ...                Yes                Medium
1              0.018  ...                 No                   Low
2              0.034  ...                Yes                   Low
3              0.091  ...                 No                Medium
4              0.020  ...                 No                Medium
..               ...  ...                ...                   ...
122            0.016  ...                Yes                Medium
123            0.018  ...                 No                   Low
124            0.067  ...                 No                Medium
125            0.000  ...                Yes                  High
126            0.000  ...                 No                   Low

     days_to_churn_prediction churn region_encoded region_Bangalore  \
0                          12    No              1            False
1                          67    No              3            False
2                          54    No              1            False
3                           5   Yes              3            False
4                          88    No              0             True
..                        ...   ...            ...              ...
122                        14    No              3            False
123                       111   Yes              3            False
124                        82    No              1            False
125                        32    No              0             True
126                        95   Yes              1            False

    region_Chennai  region_Delhi region_Hyderabad  region_Mumbai
0             True         False            False          False
1            False         False             True          False
2             True         False            False          False
3            False         False             True          False
4            False         False            False          False
..             ...           ...              ...            ...
122          False         False             True          False
123          False         False             True          False
124           True         False            False          False
125          False         False            False          False
126           True         False            False          False

[127 rows x 25 columns]

In [62]:
from sklearn.preprocessing import StandardScaler

                                                                               
scaler = StandardScaler()
df[['monthly_charges_scaled','total_charges_scaled']] = scaler.fit_transform(df[['monthly_charges','total_charges']])
df[['monthly_charges','monthly_charges_scaled','total_charges','total_charges_scaled']].head()

,monthly_charges,monthly_charges_scaled,total_charges,total_charges_scaled
0,459,-0.385292,17672,0.955682
1,189,-1.237656,5756,-0.462872
2,229,-1.111380,17654,0.953539
3,389,-0.606275,898,-1.041198
4,429,-0.479999,21496,1.410915